{% extends 'base.html.twig' %}

{% block title %}
    Oops, something bad happened!
{% endblock %}

{% block body %}
    <h1>Some error occurred!</h1>

    <p>
        {{ status_code }} {{ status_text }}
    </p>

    <p>
        {{ exception.message }}
    </p>
    
{% endblock %}
