{% extends 'base.html.twig' %}

{% trans_default_domain 'game' %}

{% block title 'fail.title'|trans %}

{% block subtitle 'fail.subtitle'|trans %}

{% block body %}
    <p>
        {% trans with { '%word%': "<strong>#{game.word}</strong>" } %}
            fail.message
        {% endtrans %}
    </p>
{% endblock %}

