{% extends 'base.html.twig' %}

{% trans_default_domain 'game' %}

{% block title 'win.title'|trans %}

{% block subtitle 'win.subtitle'|trans %}

{% block body %}
    <p>
        {% trans with { '%word%': "<strong>#{game.word}</strong>" } %}
            win.message
        {% endtrans %}
    </p>
{% endblock %}

